@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: #fff;
    scroll-padding-top: 80px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}

:root {
    --navbg: #06112bff;
    --text_hover: #81edf7ff;
    --bg: #081724ff;
    --body_text: #4deefaff;
    --tutbg: rgb(14, 36, 54);
    --tut_effect: #0053b8f7;
}

.to-top {
    background: transparent;
    border: 2px solid var(--body_text);
    position: fixed;
    bottom: 9px;
    right: 9px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--body_text);
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 8px;
    pointer-events: auto;
    opacity: 1;
}

.to-top:hover {
    background: var(--body_text);
    color: var(--bg);
    box-shadow: 0 0 8px var(--body_text);
}

nav {
    background-color: var(--navbg);
    display: flex;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .logo {
    color: #fff;
    font-weight: 650;
    cursor: pointer;
    font-size: 26px;
    padding: 20px 0px 20px 5vw;
    text-decoration: none;
}

nav .logo span {
    color: var(--text_hover);
}

nav .items a {
    text-decoration: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
}

nav .items a:hover {
    color: var(--text_hover);
    font-size: 19px;
}

nav .items {
    margin: auto 0;
    margin-left: auto;
    padding-right: 30px;
}

nav .contactb {
    background-color: transparent;
    border: 1px solid var(--text_hover);
    border-radius: 7px;
    font-size: 18px;
    text-decoration: none;
    margin: 12px 20px 12px -15px;
    color: #fff;
    height: 34px;
    width: 100px;
    text-align: center;
    font-weight: 500;
    line-height: 1.85;
}

nav .contactb:hover {
    color: var(--navbg);
    background-color: var(--text_hover);

}

.infodiv {
    width: 900px;
    padding: 40px 8% 0;
}

.infodiv .main_title {
    font-size: 60px;
    margin-bottom: 0px;
}

.infodiv .subtitle {
    margin-top: -6px;
    margin-bottom: 0px;
    font-size: 25px;
}

.infodiv .subtitle span {
    color: var(--body_text);
}

.infodiv .info {
    font-size: 18px;
    margin-top: 10px;
    width: 680px;
}


.infodiv .btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--body_text);
    border-radius: 40px;
    font-size: 16px;
    color: var(--bg);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
}

.infodiv .btn:hover {
    box-shadow: 0 0 43px var(--body_text);
}

.tut {
    background-color: var(--tutbg);
    box-shadow: 1px 1px 10px var(--tut_effect);
    border-radius: 8px;
    margin: 70px 8% 0;
    padding: 30px 35px;
}

.section {
    padding-top: 30px;
}

.contact {
    margin: 0px auto;
    max-width: 1300px;
    padding-top: 60px;
    display: flex;
}

.contact form {
    margin: auto;
}

.p-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 580px;
    margin-right: auto;
    gap: 40px;
    font-size: 20px;
}

.p-info i {
    margin-right: 10px;
}

.contact .form h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
}

.input-box .input-field {
    width: 48.5%;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
}

.contact .form h2 span {
    color: var(--body_text);
}

.field .item {
    width: calc(100% - 42px);
    padding: 18px;
    background: transparent;
    border: 2px solid var(--body_text);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

form .textarea-field .item {
    resize: none;
}

form button {
    padding: 12px 32px;
    background: transparent;
    border: 2px solid var(--body_text);
    outline: none;
    border-radius: 6px;
    box-shadow: none;
    font-size: 16px;
    color: var(--body_text);
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 20px;
}

form button:hover {
    box-shadow: 0 0 10px var(--body_text);
    background-color: var(--body_text);
    color: var(--bg);
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--tutbg);
}

.footer-text p {
    font-size: 1.3rem;
}
